body{
    background-color: rgb(136, 105, 66);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhqV7Q1_EXMloORkw8UCX2B4HT_iA-CqybA&s);
}
.container{
    background-color: lightgreen;
    border: 3px solid white;
    margin: 0 auto;
}
.container > div {
    background-color: aquamarine;
    border: 2px solid blue;
    padding: 5px;
    margin: 2px;
}
